.button{
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 0.6rem;
    font-size: 0.95rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &.primary-button{
        background-color: #a3a1ff;
        color: #0b0f15;
        font-weight: 600;
        letter-spacing: 0.02em;
    }

    &:active{
        transform: scale(0.97);
    }
}